# Django settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=changeme-min-32-bit

# PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

API_BASE_URL=